<%- include('includes/header') %>
    <body>
        <div class="container">
            <div>
                <ul class="nav justify-content-end">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle margin-top" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="far fa-lg fa-user"></i></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-12 text-center margin-top">
                <h2>Password Manager</h2>
            </div>
            <div class="col-md-12 text-right margin-top">
                <form action="/password/add" method="get">
                    <button class="btn btn-primary addPasswordButton" id="addPasswordButton">Add Password</button>
                </form>
            </div>
            <div id="feedback">
                <h4 class="success"><% success %></h4>
            </div>
            <!-- Table -->
            <div class="margin-top">
                <table class="table table-hover" id="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Site/URL</th>
                            <th scope="col">Username</th>
                            <th scope="col">Password</th>
                            <th scope="col">Manage</th>
                        </tr>
                    </thead>
                    <tbody>
                            <% 
                                result.sort(function(a, b) { return b.id - a.id; });
                            %>
                            <% for(let i=0; i< result.length; i++){ 
                                let id = result[i].id; 
                                %>


                            <tr class='tr-original'>
                                <td> 
                                    <div class="row-data" > <%= result[i].site %> </div>
                                </td>
                                <td> 
                                    <div class="row-data" ><%= result[i].username %> </div>
                                </td>
                                <td class="password"  id="<%= id %>" onclick="togglePassword('<%= id %>')" title="Click to Show Password">
                                    <div class="row-data">********</div>
                                    <div class="row-data hidden"><%= result[i].password %></div>
                                </td>
                                <td>
                                
                                        <a href="/password/update/<%=id%>"><i class="far fa-edit fa-lg icon-margin icon-blue editPassword"></i></a>
                                    
                                    <a href="/password/delete/<%=id%>"><i class="deletePassword far fa-trash-alt fa-lg icon-red" id="deletePassword" data-id="<%= id%>"></i></a>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
            <!-- table -->
        </div>

<%- include('includes/footer') %>