<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="src/main.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
            crossorigin="anonymous">
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/main.css"> 
    <title> <%= title %> </title>
</head>
    <body>
        <div class="container">
            <div>
                <ul class="nav justify-content-end">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle margin-top" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="far fa-lg fa-user"></i></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-12 text-center margin-top">
                <h2>Password Manager</h2>
            </div>
            <div class="col-md-12 text-right margin-top">
                <form action="/password/add" method="get">
                    <button class="btn btn-primary addPasswordButton" id="addPasswordButton">Add Password</button>
                </form>
            </div>
            <div id="feedback">
                <h4 class="success"><% success %></h4>
            </div>
            <!-- Table -->
            <div class="margin-top">
                <table class="table table-hover" id="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Site/URL</th>
                            <th scope="col">Username</th>
                            <th scope="col">Password</th>
                            <th scope="col">Manage</th>
                        </tr>
                    </thead>
                    <tbody>
                            <% 
                                result.sort(function(a, b) { return b.id - a.id; });
                            %>
                            <% for(let i=0; i< result.length; i++){ 
                                let id = result[i].id; 
                                %>


                            <tr class='tr-original'>
                                <td> 
                                    <div class="row-data" id='<%= id %> site' > <%= result[i].site %> </div>
                                </td>
                                <td> 
                                    <div class="row-data" id='<%= id %> username' ><%= result[i].username %> </div>
                                </td>
                                <td>
                                    <div class="row-data" id='<%= id %>' > <%= result[i].password %> </div>
                                </td>
                                <td>
                                
                                        <a href="/password/update/<%=id%>"><i class="far fa-edit fa-lg icon-margin icon-blue editPassword"></i></a>
                                    
                                    <a href="/password/delete/<%=id%>"><i class="deletePassword far fa-trash-alt fa-lg icon-red " data-id="<%= id%>"></i></a>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
            <!-- table -->
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>

</html>