<%- include('includes/header') %>
    <div class="container">
        <div>
            <ul class="nav justify-content-end">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle margin-top" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="far fa-lg fa-user"></i></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-12 text-center margin-top">
            <h2>Update Password</h2>
        </div>

        <form class="col-md-8" action="/password/update/<%= id %>" method="post">
            <div class="form-group">
                <label for="site">Site</label>
                <input type="text" name="site" class="form-control" id="site" value="<%= site %>">
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" id="username" value="<%= username %>">
            </div>
            <!-- type text not password until validation implemented -->
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" name="password" class="form-control" id="password" value="<%= password %>">
            </div>
            <div class="col-md-12 margin-top">
                <button class="btn btn-success updatePasswordButton" id="updatePasswordButton" type="submit">Update Password</button>
            </div>
        </form>

        
    
    </div><!-- container -->

    <%- include('includes/footer') %>